/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rationale&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Rationale", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}
