/* You can add global styles to this file, and also import other style files */
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Coming Soon", cursive;
  font-size: 20px;
}

button,
p,
h1,
h2,
h3,
h4,
h5,
label,
input,
body {
  font-family: "Coming Soon", cursive;
}



.logo {
  font-weight: 400;
  font-size: 1.2rem;
}
