.carousel-container {
  position: relative;
  margin-top: var(--navbar-height);
  text-align: center;
  z-index: 10;
}
.carousel-container img {
  display: none;
  z-index: 10;
}

.carousel-container img.image-active {
  display: block;
  width: 100%;
  height: 700px;
  z-index: 10;
}

// dots/indicators
.carousel-dot-container {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 1rem;
}

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 5px;
  background: white;
  border-radius: 50%;
  display: inline-block;
  transition: opacity 0.6s ease;
  opacity: 0.5;
}

.active,
.dot:hover {
  opacity: 1;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.btn-prev {
  background-color: inherit;
  border: none;
  display: flex;
  align-items: center;
  color: black;
  font-size: 50px;
  margin: 0 50px;
  padding: 0;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
}

.btn-next {
  background-color: inherit;
  border: none;
  display: flex;
  align-items: center;
  color: black;
  font-size: 50px;
  margin: 0 50px;
  padding: 0;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.icon-carousel {
  cursor: pointer;
  background-color: white;
  height: 58px;
  width: 58px;
  border-radius: 50%;
}

