<div *ngIf="images && images.length" class="carousel-container">
  <img
    *ngFor="let image of images; let i = index"
    [src]="image.src"
    [alt]="image.alt"
    [routerLink]="image.url"
    [ngClass]="{ 'image-active': selectedIndex === i }"
    class="fade"
  />

  <div *ngIf="indicators" class="carousel-dot-container">
    <span
      *ngFor="let dot of images; let i = index"
      class="dot"
      [ngClass]="{ active: selectedIndex === i }"
      (click)="selectImage(i)"
    ></span>
  </div>

  <button *ngIf="controls" class="btn-carousel btn-prev">
    <div class="icon-carousel icon-prev" (click)="onPrevClick()">{{ btnPrev }}</div>
  </button>

  <button *ngIf="controls" class="btn-carousel btn-next">
    <div class="icon-carousel icon-next" (click)="onNextClick()">{{ btnNext }}</div>
  </button>
</div>
