<div
  class="fixed p-10 items-center z-50 min-w-52 top-0 right-0 bottom-0 bg-white shadow-xl"
>
  <p class="text-center">My Cart</p>
  <div class="absolute text-red-800 cursor-pointer text-7xl flex top-0 left-0" (click)="closeCart()">&times;</div>
  @for (cartItem of cartItems; track $index) {
  <div class="flex items-center">
    <div>
      <div class="flex items-center">
        <img class="w-10 h-10" src="{{ cartItem.product.image }}" alt="" />
        <div>{{ cartItem.product.name }}</div>
      </div>
      <div class="flex gap-5">
        <div>Size: {{ cartItem.size.name }}</div>
        |
        <div>Quantity: {{ cartItem.size.quantity }}</div>
      </div>
      $ {{ cartItem.price }}
    </div>
    <div>
      <div
        class="bg-red-800 w-5 h-5 text-center rounded-full right-0 float-end text-white"
        (click)="removeItem(cartItem.cartId)"
      >
        -
      </div>
    </div>
  </div>
  }
</div>
