@defer (when product) {
<div class="items-center text-center justify-center flex">
  <div class="w-1/2 h-5/6">
    <img class="w-9/12 h-9/12" src="{{ product.image }}" alt="" />
  </div>
  <div class="w-1/2 h-1/2 flex flex-col">
    <div>{{ product.name }}</div>
    <div>$ {{ product.price }}</div>
    <div>{{ product.description }}</div>
    <div class="items-center justify-center flex flex-col">
      <ul class="selectClass">
        @for (size of product.sizes; track $index) {
        <li class="optionClass">
          <input
            id="{{ size.name }}"
            type="radio"
            name="size"
            value="{{ size.name }}"
            class="inputClass"
            (click)="click(size.name)"
          />
          <label class="labelClass" for="{{ size.name }}">
            {{ size.name }}
          </label>
        </li>
        }
      </ul>
      <button class="btn" (click)="submit()">Add To Cart</button>
    </div>
  </div>
</div>
} @placeholder {
<div class="h-screen items-center justify-center flex">loading...</div>
}
