<div class="fixed w-full top-0">
  <div
    class=" items-center grid grid-cols-3 w-full justify-center my-4"
  >
    <div class="flex justify-center">
      <ng-icon name="heroMagnifyingGlass" />
    </div>
    <div class="flex flex-col text-center cursor-pointer" routerLink="">
      W <span>Clothing</span>
    </div>
    <div class="space-x-4 flex justify-center">
      <ng-icon class="cursor-pointer" name="heroShoppingCart" />
      <ng-icon
        routerLink="user"
        name="heroUser"
        class="cursor-pointer"
      ></ng-icon>
      <ng-icon class="cursor-pointer" name="heroInformationCircle" />
    </div>
  </div>
  <div class="flex space-x-10 items-center justify-center">
    @for (category of categories; track $index) {
    <div
      class="cursor-pointer"
      routerLink="{{ category.referenceName }}/products"
    >
      {{ category.name }}
    </div>
    }
  </div>
</div>
<router-outlet></router-outlet>
